*{
    margin:0;
    padding: 0;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #111111;
    padding-bottom: 200px;
    gap:25px
}

.grid {
    display: flex;
    flex-direction: column;
    background-color: #111111;
    margin: 20px 0px 20px;
    height: 450px;
}

.grid-row{
    display: flex;
    background-color: black;
    width: 450px;
    flex:1 1;
}

.grid-item{
    background-color: white;
    border:1px solid black;
    flex: 1 1;
}

.button-list{
    display: flex;
    align-items: center;
}

.grid-size-button{
    display: flex;
    align-items: center;
    background-color: aquamarine;
    border:2px solid aquamarine;
    border-radius: 2px;
}


